.logo {
  &__position {
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__img {
    width: 46px;
    height: 28px;
    margin-right: 35px;
    background-image: url(../images/logo/Air.svg);
  }

  &__menu {
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @include onSmallDesktop {
      display: none;
    }
  }


  &__close {
    width: 18px;
    height: 18px;
    background-image: url(../images/icons/close.svg);
  }
}
